.pag-container {
    width: 78vw;
    margin-left: auto;
}

/* FONT STYLES */
h1.page-title {
    color: #1D1A22;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-container {
    background-image: url("../src/media/banner.png");
    background-color: rgba(75, 31, 31, 0.4);
    background-blend-mode: multiply;
    background-size: cover;
    height: 10vh;
}